<launch>
	<arg name="cut_spacing" default="-0.5"/>

	<node pkg="automow_planning" type="path_planner.py" name="path_planner"
		  output="screen">
		<!-- Spacing between cut lines in meters -->
		<param name="cut_spacing" type="double" value="$(arg cut_spacing)" />
		<remap from="odom" to="robot_pose_ekf/odom_combined"/>
	</node>

</launch>